= form_for @track do |f|
  - if @track.errors.any?
    #error_explanation
      %h2= "#{pluralize(@track.errors.count, "error")} prohibited this track from being saved:"
      %ul
        - @track.errors.full_messages.each do |message|
          %li= message
  .container.text-center
    %form
      .form-group
        %label{:for => "exampleInputEmail1"} Track Name
        = f.text_field :track_name, class: 'form-control'
      .form-group
        %label{:for => "exampleInputEmail1"} Track Description
        = f.text_field :track_description, class: 'form-control'
      .form-group
        %label{:for => "exampleInputEmail1"} Track Image
        = f.text_field :track_image, class: 'form-control'
      .form-group
        %label{:for => "exampleInputEmail1"} Track Audio
        = f.text_field :track_audio, class: 'form-control'
      .form-group
        %label{:for => "exampleInputEmail1"} Track Duration
        = f.text_field :track_duration, class: 'form-control'
      .form-group
        %label{:for => "exampleInputEmail1"} Track Metering Levels
        = f.text_field :track_metering_levels, class: 'form-control'

    .col-lg-12.mt-5
      .row.actions
        = f.submit 'Save', class: 'btn btn-primary btn-lg btn-block'
