= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .login
    .container.text-center
      = devise_error_messages!
      %form
        .form-group
          %label{:for => "exampleInputEmail1"} Email address
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: :email, class: 'form-control'
        .form-group
          %label{:for => "exampleInputPassword1"} Password
          = f.password_field :password, autocomplete: "current-password", class: 'form-control'
        .form-group
          %label{:for => "exampleInputPassword1"} Password Confirmation
          = f.password_field :password_confirmation, autocomplete: "current-password", class: 'form-control'
        .form-check
      .row.mb-5.actions
        = f.submit "Sign up", class: 'btn btn-primary btn-lg btn-block'
    .row
      = render "devise/shared/links"
