= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .login
    .container.text-center
      %form
        .form-group
          %label{:for => "exampleInputEmail1"} Email address
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: :email, class: 'form-control'
        .form-group
          %label{:for => "exampleInputPassword1"} Password
          = f.password_field :password, autocomplete: "current-password", class: 'form-control'
        .form-check

      .col-lg-12.mb-5
        .row.actions
          = f.submit "Log in", class: 'btn btn-primary btn-lg btn-block'
    .row
      = render "devise/shared/links"
